@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Share+Tech+Mono&display=swap');

/*Estilos Globais*/
/*css declarar*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: "Share Tech Mono",monospace;
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #e7e7e7;
    background-color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: rgb(129, 136, 153);
}
a:hover{
    color: rgba(249, 105, 14, 1);
}
ul{
    list-style: none;
}
p{
    font-size: 1.4rem;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
/*Header*/
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.nav-brand{
    width: 7rem;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}
.line1{
    width: 40px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
        135deg,
        rgba(249,105,14,1)0%,
        rgb(255,255,255) 100%
    );
}
.line2{
    width: 30px;
    height: 3px;
    background: linear-gradient(
        135deg,
        rgba(249,105,14,1)0%,
        rgb(255,255,255) 100%
    );
}
.line3{
    width: 40px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
        135deg,
        rgba(249,105,14,1)0%,
        rgb(255,255,255) 100%
    );
}
.burger-menu-icon{
    cursor: pointer;
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    padding: 1.2rem;
    border-radius: 0 0  0 20%;
    background: rgba(55, 55, 55, 0.7);
}
.profile-pic{
    height: 13rem;
    width: auto;
    border-radius: 50%;
    display: block;
    margin: 1.5rem 0;
}
.caption{
    display: block;
}
.nav-list{
    width: 24rem;
    height: 100vh;
    background-color: #222222;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    z-index: 998;
    transition: all 650ms ease-in-out;
    text-align: center;
}
.nav-list.active{
    right: 0;
}
.nav-item{
    margin: 1.2rem 0;
}
.nav-link{
    opacity: 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    color:#cecece;
    letter-spacing: 1.5px;
}
.nav-link:hover{
    color: rgba(249, 105, 14, 1);
}
.toggle{
    background: none;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-17px,6px) scaleX(1);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,6px) scaleX(1);
    margin-left: 0px;
}
@keyframes navLinkAnimate{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}
/*landing page*/
.landing-page{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(47, 130, 146, 0.9) 0%,
        rgba(7, 7, 7, 0.8) 100%
    ),
    url("images/back.png") center no-repeat;
    background-size:contain;
    position: relative;
}
.main-message{
    width: 100%;
    max-width: 58rem;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.main-message h2{
    letter-spacing: 1.2rem;
    font-size: 2rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(35),blink 1s ease-in-out 5s infinite;
    width: 35ch;
    margin: auto;
    border-right: 4px solid rgba(255, 255, 255, 1);
}
@keyframes typing{
    0%{
        width: 0ch;
        color: rgba(249, 105, 14, 1);
    }
    100%{
        width: 35ch;
    }
}
@keyframes blink{
    from{
        border-right: 4px solid rgba(255, 255, 255,0);
    }
    to{
        border-right: 4px solid rgb(194,194,194);
    }
}
.main-message h3{
    font-size: 3rem;
    margin: 1rem 0;
    color: rgba(249, 105, 14, 1);
    background: linear-gradient(
        to right,
        rgba(249,105,14,1) 0%,
        rgb(88, 88, 88) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-message p{
    text-transform: none;
    font-size: 1.7rem;
    font-weight: 400;
}
.intro-btn{
    display:flex;
    justify-content: center;
}
.btn{
    margin: 0 9px;
    background: rgba(3, 155, 155);
    border-radius: 2rem;
    color: #fafafa;
    padding: 1rem 2.5rem;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color 650ms;
    font-weight: 500;
    letter-spacing:2px;
}
.btn:hover{
    color: #fafafa;
    background-color: rgb(189, 72, 0);
}
.scroll-down i{
    color: #fafafa;
    transition: color 650ms;
    margin-top: 2rem;
    font-size: 3.5rem;
}
.scroll-down i:hover{
    color: rgba(189, 72, 0);
}
/*Sobre*/
.mySlides{
    display: none;
}
.slideshow-container{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
}
.sobre{
    width: 100%;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
}
.sobre.container{
    display: flex;
    align-items: center;
    min-height: 80vh;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.sobre-img h1{
    text-align: center;
    margin-bottom: 5rem;
    color: rgb(189, 72, 0);
    font-size: 2rem;
}
.sobre-img img{
    flex: 1;
    height: 17rem;
    width: auto;
    border-radius: 50%;
    margin: 2rem;
    box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
}
.sobre-text-box{
    flex-grow:1;
    flex-shrink: 1;
    flex-basis: 0;
}
.sobre-text-box h2{
    font-size: 4rem;
    margin-bottom: 20px;
    
}
.sobre-text-box p{
    font-family: "Poppins", sans-serif;
font-size: 1.3rem;
padding: 0;
margin-bottom: 1.45rem;
text-align: justify;
text-justify: distribute;
}
hr{
    margin: 4rem 0;
    background: linear-gradient(
        to right,
        rgba(249,105,14,1)0%,
        rgba(88,88,88,1)100%
        );
        border:0;
        height: 1px;
}
/*Experiencia*/
.exp{
    padding: 3rem 0;
    min-height: 100vh;
    max-width: 90rem;
    margin: auto;
}
.exp p{
    text-align: justify;
    text-justify: distribute;
}
.title-heading{
    text-align: center;
    margin-bottom: 5rem;
}
.title-heading h2{
font-size: 2rem;
margin: 0.5rem 0 1rem 0;
color: rgb(189, 72, 0);
}
.title-heading p{
    font-family: "Poppins", sans-serif;
    margin-bottom: 5rem;
}
.exp-etapas{
    display: grid;
    grid-template-columns: repeat(auto-fix, minmax(25rem,1fr));
    gap: 2.5rem;
}
.etapa-item{
    height: 30rem;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    text-justify: distribute;
    text-align: left;
}
.etapa-item i{
    font-size: 3.5rem;
}
.etapa-item h2{
    font-size: 2rem;
    margin: 2rem 0;
    background: linear-gradient(
        to right,
        rgba(249,105,14,1) 0%,
        rgba(88,88,88,1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.etapa-item li{
    font-family: "Poppins",sans-serif;
    font-size:1.4rem;
}
.etapa-item ul{
list-style: none;
}
.etapa-item ul li::before{
    content: "\2022";
    color: rgb(249, 105, 14);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;

}
/*Projectos*/
.projects{
    padding: 3rem 0;
    min-width: 10vh;
    max-width: 70rem;
    margin: auto;
}
.has-margin-right{
    margin: 0 3rem 0 0;
}
.project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.45rem 5rem 1.45rem;
}
.project-img{
    flex: 1;
    padding: 2.5px 3.5px 0;
}
.project-description{
    flex: 1;
}
.project-description h2{
    font-size: 2rem;
    margin: 2rem 0;
    background: linear-gradient(
        to right,
        rgba(249,105,14,1) 0%,
        rgba(88,88,88,1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-description p{
    font-family: "Poppins",sans-serif;
    font-size: 1.2rem;
    padding: 15px;
}
.project-link{
display:inline-block;
margin: 2rem 0;
font-size:1.4rem;
}
/*Imagem galeria*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
#myImg:hover {opacity: 0.7;}
.galeria {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  /* galeria Content (Image) */
.galeria-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/*contact*/
.contact{
    width: 100%;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
    padding-top: 5rem;
}
.contact h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}
.contact p{
    font-family: "Poppins",sans-serif;
    font-size: 1.4rem;
    padding: 0;
    margin: 0.9rem 2rem;
}
.contact .container{
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*Footer*/
.txtemail{
width: 600px;
margin: 15px;
font-size: 15pt;
font-family: "Poppins",sans-serif;
}
.txtarea{
    width: 600px;
    margin: 15px;
    font-size: 15pt;
    font-family: "Poppins",sans-serif;
}
.txtObs{
    margin: 15px;
    padding: 15px 0;
    height: 200px;
    width: 600px;
    font-size: 10pt;
    font-family: "Poppins",sans-serif;
}
footer{
    width: 100%;
    max-width: 70rem;
    margin: auto;
    padding: 2.5rem;
    color: #8a8a8a;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
footer a{
    margin: 0 0.2rem;
}
.footer-coded-by{
margin: 2rem 0;
}
.footer-social a{
    margin: 0 0.5rem;
    font-size: 2rem;
}
/*Responsivable*/
@media (max-width:750px){ 
    .main-message h3 {
        font-size: 3rem;
      }
      .sobre .container {
        flex-direction: column;
      }
      p {
        font-size: 1.3rem;
      }
      .title-heading {
        margin: 0;
      }
      .title-heading{
          gap: 0;
      }
      .exp-etapas {
        gap: 0;
      }
      .project-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
      }
      .project-img {
        width: 20rem;
      }
      .galeria-content {
        width: 100%;
      }
}
@media(max-width:665px){

    .main-message {
        top: 45%;
      }
      .main-message h2 {
        letter-spacing: 1rem;
        font-size: 1.5rem;
        width: 29ch;
      }
    
      .main-message h3 {
        font-size: 2rem;
      }
    
    .nav-list{
        width: 50%;

    }
      .main-message p {
        font-size: 1.3rem;
      }
      .btn {
        border-radius: 0.9rem;
        padding: 0.9rem 0.9rem;
      }
      .sobre-text-box h2 {
        font-size: 3rem;
        margin-bottom: 20px;
      }
      .sobre-text-box p {
        margin: 0 0 2.45rem;
      }
    
      .title-heading h2 {
        margin-bottom: 2rem;
      }
      .title-heading p {
        font-size: 1.3rem;
      }
    .contact input, textarea{
        font-size: 1.2rem;
        width: 75%;
        margin-left: 10%;
    }
    .contact textarea{
        width: 75%;
        margin-left: 10%;
    }
      .contact .container {
        flex-direction: column;

      }
    
      footer,
      footer p {
        font-size: 1.2rem;
      }
}
@media(max-width:421px)
{
.title-heading{
    padding-top: 10px;
    font-size: 1rem;
}
.title-heading p{
    font-size: 1.2rem;
}
.exp-etapas li{
    font-size: 1rem;
}
}